/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* CSS VARIABLES */
:root{
    /* Colors */
    --main-color: #1a73e8;
    --input-color: #808688;
    --border-color: #dadce0;

    /* Fonts */
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

/* BASE */
*,::before,::after{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1{margin: 0;}

/* FORM */
.l-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form__title{
    text-align: center;
    font-weight: 400;
    margin-bottom: 4rem;
}

.form__div{
    position: relative;
    height: 48px;
    margin-top: 1.5rem;
}

.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none; /* important */
    z-index: 1;
}

.form__label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form a{
    text-decoration: none;
    font-size: var(--small-font-size);
    color: var(--main-color);
    margin: .5rem .2rem 2rem 0;
    display: block;
    text-align: end;
}

.form a:hover{text-decoration: underline;}

.form__btn{
    display: block;
    margin-top: 1.5rem;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form__btn:hover{box-shadow: 0 10px 36px rgba(0, 0, 0, .15);}

/* Move up label on Input focus */
.form__input:focus + .form__label{
    top: -.5rem;
    left: .8rem;
    color: var(--main-color);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/* Sticky top label on input focus */
.form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

/* Input focus */
.form__input:focus{
    border: 1.5px solid var(--main-color);
}